.headerNav {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.headerNav__item {
  position: relative;
  display: inline-block;
  color: var(--gray);
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: 0.3s;
  &:hover {
    color: var(--black);
  }

  &--active {
    color: var(--black);
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--black);
      content: "";
    }
  }
}

@media screen and (min-width: var(--md)) {
  .headerNav__item {
    transition: color 0.2s;
    &:hover {
      color: var(--black);
      text-decoration: none;
    }
  }
}

@media screen and (max-width: var(--sm)) {
  .headerNav__item {
    padding: 0.5rem 1rem;
  }
}
